---
import Link from "@/components/layout/Link.astro";
import Button from "@/components/home/Button.astro";
import Arrow from "@/assets/svg/Arrow.svg";
---

<header class="w-full bg-[#0A2540]">
  <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
    <div class="text-lg sm:text-2xl font-bold tracking-wide text-[#E5E7EB]">
      BYTEK
    </div>
    <nav class="flex items-center space-x-2 sm:space-x-8">
      <Link title="Servicios" link="/" />
      <Link title="Nosotros" link="/about" />
      <Link title="FAQ" link="/about" />
    </nav>
    <div class="buttons flex gap-2">
      <Button>
        <Arrow slot="icon-right" />
        ¡Últimos Proyectos!
      </Button>
      <Button type="secondary">
        <Arrow slot="icon-left" />
        ¡Contáctanos!
      </Button>
    </div>
  </div>
</header>
