---
import Link from "@/components/layout/Link.astro";
---

<header class="w-full bg-[#0A2540]">
  <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
    <div class="text-lg sm:text-2xl font-bold tracking-wide text-[#E5E7EB]">
      BYTEK
    </div>
    <nav class="flex items-center space-x-2 sm:space-x-8">
      <Link title="Servicios" link="/"/>
      <Link title="Precios" link="/pricing"/>
      <Link title="Acerca de" link="/about"/>
      <Link title="Nuestros Clientes" link="/case-studies"/>
      <Link title="FAQ's" link="/faq"/>
    </nav>
  </div>
</header>
