---
const { title, link } = Astro.props;
console.log(title)
---

<a href={link} class="font-primary font-[450] text-black hover:text-gray-500 border-b-transparent border-b-2 hover:border-b-gray-600  " >{title}</a>
