---
const { title, link } = Astro.props;
---

<a
  href={link}
  class="font-primary font-[450] text-[#60A5FA] hover:text-[#93C5FD] border-b-2 border-b-transparent hover:border-b-[#93C5FD] transition-colors duration-200"
>
  {title}
</a>
