---
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = 'Bytek - Desarrollo de software (Inicio)'
const description = 'Bytek desarrolladores de software '

---


<BaseLayout title={title} description={description}>
<h1>About</h1> 
</BaseLayout>