---
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "preguntas frecuentes ";
const description = "pagina de preguntas frecuentes";
---

<BaseLayout title={description} description={description}>
  <h1>preguntas frecuentes</h1>
</BaseLayout>
