---
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Servicios ";
const description = "pagina de servicios.";
---

<BaseLayout title={description} description={description}>
  <h1>Servicios</h1>
</BaseLayout>
