---
import PanelCard from "@/components/home/PanelCard.astro";

const panels = [
  {
    title: "Explore the world",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
    image:
      "https://images.unsplash.com/photo-1558979158-65a1eaa08691?auto=format&fit=crop&w=1350&q=80",
    score: "3x",
  },
  {
    title: "Wild Forest",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
    image:
      "https://images.unsplash.com/photo-1558979158-65a1eaa08691?auto=format&fit=crop&w=1350&q=80",
    score: "100%",
  },
  {
    title: "Sunny Beach",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
    image:
      "https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1353&q=80",
    score: "3x",
  },
  {
    title: "City on Winter",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
    image:
      "https://images.unsplash.com/photo-1551009175-8a68da93d5f9?auto=format&fit=crop&w=1351&q=80",
    score: "40%",
  },
];
---

<div class="w-full py-16">
  <div class="max-w-7xl mx-auto px-6 text-center lg:text-left">
    <div
      class="flex flex-col lg:flex-row justify-between items-start lg:items-end mb-12"
    >
      <div class="w-full lg:w-1/2">
        <p
          class="text-xs md:text-sm lg:text-base font-semibold text-[#FB923C] uppercase tracking-widest mb-2"
        >
          Lorem ipsum dolor sit amet
        </p>
        <h2
          class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-[#60A5FA] leading-tight"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h2>
      </div>
      <div class="w-full lg:w-1/2 mt-6 lg:mt-0 lg:pl-16">
        <p class="text-[#E5E7EB] text-base md:text-lg lg:text-xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

    <div class="flex w-full">
      {
        panels.map((panel) => (
          <PanelCard
            title={panel.title}
            text={panel.text}
            image={panel.image}
            score={panel.score}
          />
        ))
      }
    </div>
  </div>
</div>