---
import Arrow from "@/assets/svg/Arrow.svg";
import Random1 from "@/assets/svg/Random1.svg";
import Random2 from "@/assets/svg/Random2.svg";
import ChatBubble from "@/assets/svg/ChatBubble.svg";
import Button from "@/components/home/Button.astro";
---

<div
  class="flex flex-col md:flex-row items-center justify-between py-20 relative"
>
  <div class="w-full md:w-1/2 text-left mb-10 md:mb-0 pr-0 md:pr-10">
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold text-[#60A5FA] leading-tight font-primary"
    >
      Transformamos Ideas en Software que Impulsa tu Negocio
    </h1>
    <p class="mt-6 text-base md:text-lg lg:text-xl text-[#E5E7EB]">
      Lo quieres?, no se puede manito, paga más
    </p>
    <a
      href="#Inicio"
      class="mt-8 inline-flex items-center space-x-2 bg-[#1E3A8A] text-[#E5E7EB] font-semibold px-6 py-3 rounded-full hover:bg-[#60A5FA] transition text-base md:text-lg lg:text-xl"
    >
      Especializados en desarrollo web y aplicaciones empresariales. Combinamos
      tecnología avanzada con diseño intuitivo para resultados extraordinarios.
      <Arrow />
    </a>
  </div>

  <figure class="w-full md:w-1/2 relative flex justify-center md:justify-end">
    <div
      class="absolute right-70 sm:right-80 lg:right-100 w-24 h-24 bg-green-300 rounded-full flex items-center justify-center z-10"
    >
      <Random1 />
    </div>
    <div
      class="absolute -top-8 right-0 w-24 h-24 bg-orange-300 rounded-full flex items-center justify-center z-10"
    >
      <Random2 />
    </div>
    <div class="relative w-full max-w-lg">
      <img
        src="/assets/valhalla.png"
        alt="prueba1"
        class="w-full h-auto shadow-xl rounded-lg transform rotate-15 scale-105 z-8"
      />
      <img
        src="/assets/pexelsej.png"
        alt="prueba2"
        class="absolute bottom-[-10%] right-0 w-4/5 h-auto shadow-xl rounded-lg transform -rotate-3 translate-x-10 translate-y-10 z-8"
      />
    </div>
  </figure>
</div>
