---
const { title, text, image, score } = Astro.props;
---

<div
  class="panel flex-1 h-[50vh] text-white relative flex justify-center items-center bg-cover bg-center cursor-pointer transition-all duration-300 ease-in hover:flex-[2]"
  style={`background-image: url(${image})`}
>
  <h3
    class="absolute top-10 text-xl font-bold transition-opacity duration-500 hover:opacity-100"
  >
    {title}
  </h3>

  <p
    class="absolute bottom-5 text-base transition-opacity duration-500 delay-200 hover:opacity-100 text-center"
  >
    <span
      class="text-3xl font-bold transition-opacity duration-500 hover:opacity-100"
    >
      {score}
    </span>
    <br />
    {text}
  </p>
</div>
