---
import "@/styles/global.css";
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";

import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  robots?: string;
}

const {
  title = "Bytek - Desarrollo de software",
  description = "Bytek - Desarrollo de software",
  canonical,
  robots,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      extend={{
        meta: [
          { name: "keywords", content: "asd" },
          { name: "author", content: "" },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:site", content: "" },
          { name: "twitter:creator", content: "@asd" },
          { name: "twitter:title", content: "asd" },
          { name: "twitter:description", content: "asd" },
          {
            name: "twitter:image",
            content: "asd",
          },
        ],
      }}
      openGraph={{
        basic: {
          title: "asd",
          type: "website",
          image: "asd",
          url: "asd",
        },
      }}
    />
    <link
      rel="preload"
      href="/fonts/Inter.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Clash.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
